<nav class="navbar nav-footer">
  <a href="/" class="nav-item">
    <i class="fa-solid fa-house <%='nav-active' if current_page?("/") %>"></i>
    <span class="<%='nav-active' if current_page?("/") %>">Home</span>
  </a>

  <a href="" class="nav-item">
    <i class="fa-solid fa-magnifying-glass"  <%= 'button-active' if current_page?("/search") %>></i>
    <span class="<%='nav-active' if current_page?("/search") %>">Search</span>
  </a>

  <a href="/experiences/new" class="nav-item">
    <i class="fa-solid fa-plus <%='nav-active' if current_page?("/experiences/new") %>"></i>
    <span class="<%='nav-active' if current_page?("/experiences/new") %>">New</span>
  </a>

  <a href="" class="nav-item">
    <i class="fa-solid fa-message"></i>
    <span>Messages</span>
  </a>

  <a href="/dashboard" class="nav-item">
    <i class="fa-solid fa-user <%='nav-active' if current_page?("/dashboard") %>"></i>
    <span class="<%='nav-active' if current_page?("/dashboard") %>">Profile</span>
  </a>
</nav>
