
  <nav class="navbar nav-footer">
    <a href="/" class="nav-item <%= 'button-active' if current_page?("/") %>"><i class="fa-solid fa-house"></i><span>Home</span></a>
    <a href="/search" class="nav-item <%= 'button-active' if current_page?("/search") %>"><i class="fa-solid fa-magnifying-glass"></i><span>Search</span></a>
    <div class="<%= 'button-active' if current_page?("/experiences/new") %>">
     <a href="/experiences/new" class="nav-item "><i class="fa-solid fa-plus"></i>New</span></a>
    </div>
    <a href="/bookings/1/chat" class="nav-item <%= 'button-active' if current_page?('/chat') %>"><i class="fa-solid fa-message"></i><span>Messages</span></a>
     <a href="/dashboard" class="nav-item <%= 'button-active' if current_page?('/dashboard') %>"><i class="fa-solid fa-user"></i><span>Profile</span></a>
  </nav>
