 <div class="app-container">
    <%# <div>
      <%= image_tag "hike2.jpeg", alt: "Image 2", width: "100%", height: "175%" %>
    <%# </div> %>
<%# carousel %>
      <div class="slideshow-container" data-controller="carousel">
        <% @experience.photos.each.with_index(1) do |photo, index| %>
    <!-- Full-width images with number and caption text -->
          <div class="mySlides faded" data-carousel-target="pics">
            <div class="numbertext"><%= index %> / <%= @experience.photos.length %></div>
              <%= cl_image_tag photo.key, width: "100%" %>
          </div>
      <% end %>


    <!-- Next and previous buttons -->
    <% if @experience.photos.length > 1 %>
      <a class="prev" style="text-decoration:none" data-action="click->carousel#changeSlide" data-carousel-move-param="-1">&#10094;</a>
      <a class="next" style="text-decoration:none" data-action="click->carousel#changeSlide" data-carousel-move-param="1">&#10095;</a>
    <% end %>
  </div>

    <%# carousel end %>

    <div class="body-container">
    <div class="details">

      <div class="location d-flex">
        <div class="row">
        <p><i class="fa-solid fa-location-dot"></i> <%= @experience.location %></p>
      </div>
      </div>

      <div class="tour-guide">
        <p class="card-title"><strong>Pak Joko</strong> - Tour Guide</p>
      </div>

      <div class="description">
        <h4>Description</h4>
        <p> <%= @experience.description %></p>
      </div>
      <div class="d-flex justify-content-between booking align-items-center">
        <p><strong>$</strong> <%= @experience.price.to_i %> / Person</p>
        <%= link_to "Book Now", experience_bookings_path(@experience), data: { turbo_method: "post" }, class: "book-now button" %>
      </div>
    </div>

 <div class="d-flex justify-content-start card-container">



<h5> This experience belongs to <%= @experience.user.username %> </h1>
<h5>Partecipants <%= @experience.num_partecipants %> on <%= @experience.max_participants %></h5>
<%#  if you are the owner of the experience show edit/delete button %>
<% if @experience.user == @user %>
  <h3>You own this experience</h3>
   <%= link_to "Edit this experience" , edit_experience_path(@experience)  %>
   <%= link_to "Delete this experience",
                experience_path(@experience),
                 data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
<% elsif @experience.full? %>
<%# if experience is full show "sorry " %>
  <h4>Sorry the experience is fully booked.</h4>
<% elsif @experience.booked_in?(@user) %>
  <h4>You are already booked for this experience.</h4>
<% else %>
  <%= link_to "Book this experience" , experience_bookings_path(@experience) , data: {turbo_method: "post"} %>
<% end %>

    <div data-controller="tab-show">
      <div class="tab menu-tab">
        <button class="tablinks nav-item" data-tab-show-target="btnchat" data-action="click->tab-show#change_tab" data-tab-show-tab-param="map">Check the map</button>
        <button class="tablinks nav-item" data-tab-show-target="btnmap" data-action="click->tab-show#change_tab" data-tab-show-tab-param="chat">Chat with other participants</button>
      </div>

      <!-- Tab content -->

      <div id="tabbed_map" class="tabcontent" data-tab-show-target="map">
      <%# filtering out the experiences that are passed %>
        <div style="width: 100%; height: 300px;"
              data-controller="map"
              data-map-markers-value="<%= @markers.to_json %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>

      <div id="chat" class="tabcontent" data-tab-show-target="chat">
      <%# selecting only the experiences that belongs to you %>
      <% if @experience.booked_in?(@user)%>
        <%= render "bookings/show" %>
        <% else %>
        <h4>Sorry but you need to book this experience to interact with other users</h4>
        <% end %>
      </div>
    </div>
</div>

</div>
