<div class="home-container">
  <div class="video-container">
    <video autoplay loop muted playsinline class="hero-video">
      <source src="<%= asset_path('NMzpIWvu-27113676.mp4') %>" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

  <div class="body-container container py-3" data-controller="toggle">
    <h1 class='explore-heading'>Explore</h1>
    <div class="body-container mt-3">
      <div  class="carousel-container">
        <!-- Carousel for Cards -->
        <div class="carousel-track d-flex">
          <%= link_to "/experiences?query=adventure" do %>
            <div class="card-category carousel-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('adventure.jpeg') %>)">
              Adventure
            </div>
          <% end %>

          <%= link_to "/experiences?query=wellbeing" do %>
            <div class="card-category carousel-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('meditation.jpeg') %>)">
              Wellbeing
            </div>
          <% end %>

          <%= link_to "/experiences?query=culture" do %>
            <div class="card-category carousel-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('culture.jpeg') %>)">
              Culture
            </div>
          <% end %>

          <%= link_to "/experiences?query=food-drink" do %>
            <div class="card-category carousel-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('food.jpeg') %>)">
              Food
            </div>
          <% end %>

          <%= link_to "/experiences?query=nature" do %>
            <div class="card-category carousel-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('nature.jpeg') %>)">
              Nature
            </div>
          <% end %>

          <%= link_to "/experiences?query=volunteer" do %>
            <div class="card-category carousel-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('volunteer.jpeg') %>)">
              Volunteer
            </div>
          <% end %>

          <%= link_to "/experiences?query=sport" do %>
            <div class="card-category carousel-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('sport.jpeg') %>)">
              Sport
            </div>
          <% end %>

          <%= link_to "/experiences?query=nightlife" do %>
            <div class="card-category carousel-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('nightlife.jpeg') %>)">
              Nightlife
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <% if @experiences.count == 0 %>
      <h3 class="heading container pt-4 m-0">Sorry no results for your search.</h3>
    <% else %>
      <h3 class="heading container pt-4 m-0">Recommendations for you..</h3>

      <%# visible cards %>
      <% @experiences[0...5].each do |experience| %>
        <%= render 'shared/card-home', experience: experience %>
      <% end %>

      <% if @experiences.count > (5) %>
        <div class="card-actions-1" >
          <%# cards to be rendered %>
          <div data-toggle-target="togglableElement" class="d-none">
            <% @experiences[5...10].each do |experience| %>
              <%= render 'shared/card-home', experience: experience %>
            <% end %>
          </div>
        </div>
          <%# add more cards button %>
      <% end %>
            <%# add more cards button %>
            <% if @experiences.count > 5 %>
               <%= link_to 'Explore more', '#', class: 'btn-see-more text-center w-100', data: { action: 'click->toggle#render', toggle_target: "btnshowmore"} %>
             <% end %>
    <% end %>
  </div>
</div>
