<div class="home-container">
  <div class="video-container">
    <video autoplay loop muted playsinline class="hero-video">
      <source src="<%= asset_path('NMzpIWvu-27113676.mp4') %>" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

  <div class="body-container container py-3">
    <h1 class='explore-heading'>Explore</h1>
    <div class="body-container">
      <div data-controller="card-carousel" class="carousel-container">
        <!-- Carousel for Cards -->
        <div class="carousel-track d-flex pt-3" data-carousel-target="track">
          <%= link_to "/experiences?query=adventure" do %>
            <div class="card-category carousel-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('adventure.jpeg') %>)">
              Adventure
            </div>
          <% end %>

          <%= link_to "/experiences?query=wellbeing" do %>
            <div class="card-category carousel-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('meditation.jpeg') %>)">
              Wellbeing
            </div>
          <% end %>

          <%= link_to "/experiences?query=culture" do %>
            <div class="card-category carousel-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('culture.jpeg') %>)">
              Culture
            </div>
          <% end %>

          <%= link_to "/experiences?query=food-drink" do %>
            <div class="card-category carousel-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('food.jpeg') %>)">
              Food
            </div>
          <% end %>

          <%= link_to "/experiences?query=nature" do %>
            <div class="card-category carousel-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('nature.jpeg') %>)">
              Nature
            </div>
          <% end %>

          <%= link_to "/experiences?query=volunteer" do %>
            <div class="card-category carousel-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('volunteer.jpeg') %>)">
              Volunteer
            </div>
          <% end %>

          <%= link_to "/experiences?query=sport" do %>
            <div class="card-category carousel-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('sport.jpeg') %>)">
              Sport
            </div>
          <% end %>

          <%= link_to "/experiences?query=nightlife" do %>
            <div class="card-category carousel-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('nightlife.jpeg') %>)">
              Nightlife
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
<h3 class="heading container pt-4 m-0">Recommendations for you..</h3>

  <%# visible cards %>
  <% @experiences.first(5).each do |experience| %>
    <%= render 'shared/card-home', experience: experience %>
  <% end %>

  <div class="card-actions-1" data-controller="toggle">
    <%# cards to be rendered %>
    <div data-toggle-target="togglableElement" class="d-none">
      <% (@experiences[5..] || []).each do |experience| %>
        <%= render 'shared/card-home', experience: experience %>
      <% end %>
    </div>
    <%# add more cards button %>
    <%= link_to 'Explore more', '#', class: 'btn-see-more', data: { action: 'click->toggle#render' } %>
  </div>
</div>