 <div class="app-container">
    <div>
      <%= image_tag "hike2.jpeg", alt: "Image 2", width: "100%", height: "175%" %>
    </div>

    <div class="details">
      <div class="header pt-1">
        <h1> <%= @experience.title %></h1>
        <span class="rating">4.9</span>
      </div>

      <div class="location d-flex">
        <div class="row">
        <p><i class="fa-solid fa-location-dot"></i> <%= @experience.location %></p>
      </div>
      </div>

      <div class="tour-guide">
        <p><strong>Pak Joko</strong> - Tour Guide</p>
      </div>

      <div class="description">
        <h4>Description</h4>
        <p> <%= @experience.description %></p>
      </div>

      <div class="gallery">
        <%= image_tag "hike2.jpeg", alt: "Image 1", class: "gallery-img" %>
        <%= image_tag "hike.jpeg", alt: "Image 2", class: "gallery-img" %>
        <%= image_tag "hike-2.jpeg", alt: "Image 3", class: "gallery-img" %>
      </div>
      <div class="included">
        <p><strong>What's included':</strong></p>
        <div class="included-items">
          <span class="icon">Transport</span>
          <span class="icon">Shoes</span>
          <span class="icon">Food</span>
          <span class="icon">Guide</span>
        </div>
      </div>
      <div class="d-flex justify-content-between booking align-items-center">
        <p><strong>$</strong> <%= @experience.price.to_i %> / Person</p>
        <%= link_to "Book Now", experience_bookings_path(@experience), data: { turbo_method: "post" }, class: "book-now button" %>
      </div>
    </div>

  <h4>Location</h4>
  <%= link_to "Open in Maps >" %>
  <div style="width: 100%; height: 300px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>


 <div class="d-flex justify-content-start card-container">
 <%# carousel %>
<h1><%= @experience.photos.count %></h1>
      <div class="slideshow-container" data-controller="carousel">
        <% @experience.photos.each.with_index(1) do |photo, index| %>
    <!-- Full-width images with number and caption text -->
      <div class="mySlides faded" data-carousel-target="pics">
        <div class="numbertext"><%= index %> / <%= @experience.photos.length %></div>
          <%= cl_image_tag photo.key, width: "100%" %>
    </div>
  <% end %>


    <!-- Next and previous buttons -->
    <a class="prev" data-action="click->carousel#changeSlide" data-carousel-move-param="-1">&#10094;</a>
    <a class="next" data-action="click->carousel#changeSlide" data-carousel-move-param="1">&#10095;</a>
  </div>
  <br>

  <!-- The dots/circles -->
  <%# <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div> %>
    <%# carousel end %>
   <h2> <%= @experience.title %> </h2>
   <h5> <%= @experience.location %> </h5>
   <h5> <%= @experience.description %> </h5>


</div>

</div>
<% if false %>
  <div class="card-container">

    <div class="booking-card">
      <%= image_tag 'greece.jpeg', class: 'card-image', alt: 'Greece view' %>
      <div class="card-content">
        <h2>Drinks and snacks</h2>
        <p class="rating">★★★★★</p>
        <p>Amsterdam, Netherlands</p>
        <p><strong>Participants:</strong> 0 / 8</p>
        <p>Chill, drink, and share experiences</p>
        <p class="price">€12</p>
        <a href="#" class="app-link">TribeApp →</a>
      </div>
    </div>


    <div class="booking-card">
      <%= image_tag 'desert.jpeg', class: 'card-image', alt: 'Desert view' %>
      <div class="card-content">
        <h2>Wine Tasting Tour</h2>
        <p class="rating">★★★★★</p>
        <p>Paris, France</p>
        <p><strong>Participants:</strong> 2 / 10</p>
        <p>Enjoy a refined evening of wine tasting</p>
        <p class="price">€25</p>
        <a href="" class="app-link">TribeApp →</a>
      </div>
    </div>


    <div class="booking-card">

      <%= image_tag 'norway.jpeg', class: 'card-image', alt: 'Norway view' %>
      <div class="card-content">
        <h2>Sunset Cruise</h2>
        <p class="rating">★★★★☆</p>
        <p>Barcelona, Spain</p>
        <p><strong>Participants:</strong> 5 / 15</p>
        <p>Relax and enjoy a beautiful sunset cruise</p>
        <p class="price">€18</p>
        <a href="#" class="app-link">TribeApp →</a>
      </div>
    </div>
  </div>
<% end %>

<h5> This experience belongs to <%= @experience.user.username %> </h1>
<h5>Partecipants <%= @experience.num_partecipants %> on <%= @experience.max_participants %></h5>
<%#  if you are the owner of the experience show edit/delete button %>
<% if @experience.user == @user %>
  <h3>You own this experience</h3>
   <%= link_to "Edit this experience" , edit_experience_path(@experience)  %>
   <%= link_to "Delete this experience",
                experience_path(@experience),
                 data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
<% elsif @experience.full? %>
<%# if experience is full show "sorry " %>
  <p>Sorry the experience is fully booked.</p>
<% elsif @experience.booked_in?(@user) %>
  <p>You are already booked for this experience.</p>
<% else %>
  <%= link_to "Book this experience" , experience_bookings_path(@experience) , data: {turbo_method: "post"} %>
<% end %>

<%# show if the current_user has booked this experience %>
<% if @bookings.exists? %>
  <h2>Chat with the other participants:</h2>
  <ul>
    <% @bookings.each do |booking| %>
    <li><%= link_to booking.experience.title, @experience.bookings.where(:user == @experience.user)[0]  %></li>
  <% end %>
</ul>
<% end %>

