
<div class="container">
  <div style="width: 100%; height: 300px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

 <div class="d-flex justify-content-start card-container">
  <%= cl_image_tag @experience.photos[0].key, width: "100%" %>
   <h2> <%= @experience.title %> </h2>
   <h5> <%= @experience.location %> </h5>
   <h5> <%= @experience.description %> </h5>

</div>

</div>
<% if false %>
  <div class="card-container">

    <div class="booking-card">
      <%= image_tag 'greece.jpeg', class: 'card-image', alt: 'Greece view' %>
      <div class="card-content">
        <h2>Drinks and snacks</h2>
        <p class="rating">★★★★★</p>
        <p>Amsterdam, Netherlands</p>
        <p><strong>Participants:</strong> 0 / 8</p>
        <p>Chill, drink, and share experiences</p>
        <p class="price">€12</p>
        <a href="#" class="app-link">TribeApp →</a>
      </div>
    </div>


    <div class="booking-card">
      <%= image_tag 'desert.jpeg', class: 'card-image', alt: 'Desert view' %>
      <div class="card-content">
        <h2>Wine Tasting Tour</h2>
        <p class="rating">★★★★★</p>
        <p>Paris, France</p>
        <p><strong>Participants:</strong> 2 / 10</p>
        <p>Enjoy a refined evening of wine tasting</p>
        <p class="price">€25</p>
        <a href="" class="app-link">TribeApp →</a>
      </div>
    </div>


    <div class="booking-card">
      <%= image_tag 'norway.jpeg', class: 'card-image', alt: 'Norway view' %>
      <div class="card-content">
        <h2>Sunset Cruise</h2>
        <p class="rating">★★★★☆</p>
        <p>Barcelona, Spain</p>
        <p><strong>Participants:</strong> 5 / 15</p>
        <p>Relax and enjoy a beautiful sunset cruise</p>
        <p class="price">€18</p>
        <a href="#" class="app-link">TribeApp →</a>
      </div>
    </div>
  </div>
<% end %>

<h1> This experience belongs to <%= @experience.user.username %> </h1>
<h1>Partecipants <%= @experience.num_partecipants %> on <%= @experience.max_participants %></h1>
<%#  if you are the owner of the experience show edit/delete button %>
<% if @experience.user == @user %>
  <h3>You own this experience</h3>
   <%= link_to "Edit this experience" , edit_experience_path(@experience)  %>
   <%= link_to "Delete this experience",
                experience_path(@experience),
                 data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
<% elsif @experience.full? %>
<%# if experience is full show "sorry " %>
  <p>Sorry the experience is fully booked.</p>
<% elsif @experience.booked_in?(@user) %>
  <p>You are already booked for this experience.</p>
<% else %>
  <%= link_to "Book this experience" , experience_bookings_path(@experience) , data: {turbo_method: "post"} %>
<% end %>

