<h1>ciao</h1>
<h1><%= @user.username %> </h1>
<h1>Partecipants <%= @experience.bookings.count %> on <%= @experience.max_participants %> <%= @experience.full? %></h1>
<% if @experience.user == @user %>
  <h3>You own this experience</h3>
<% else %>
  <%= link_to "Book this experience" , experience_bookings_path(@experience) , data: {turbo_method: "post"} %>
<% end %>

<div style="width: 50%; height: 300px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>  